@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  background: #f1f1f1;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}

.content {
	margin-bottom: 36px;
  font-size: 14px;
}
.content,
.content input,
.content textarea {
	color: #333;
	font-size: 16px;
	line-height: 24px;
}
.content p,
.content ul,
.content ol,
.content dd,
.content pre,
.content hr {
	margin-bottom: 24px;
}
.content ul ul,
.content ol ol,
.content ul ol,
.content ol ul {
	margin-bottom: 0;
}
.content pre,
.content kbd,
.content tt,
.content var {
	font-size: 15px;
	line-height: 21px;
}
.content code {
	font-size: 13px;
}
.content dt,
.content th {
	color: #000;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
.content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
.content tr th,
.content thead th {
	color: #777;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
.content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
.content tr.odd td {
	background: #f2f7fc;
}